<body>
  <div class="container">
    <form id="edit_travel" action="/travels/<%= @travel.id %>" accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="PUT">
      <h1>Editar Viagem:</h1>

      <% if @travel.errors.any? %>
        <div id="error_explanation">
          <h2>
            Ops! Tivemos <%= pluralize(@travel.errors.count, "erro") %>.
            Verifique os valores inseridos e tente novamente.
          </h2>
          <ul>
            <% @travel.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input id="travel_title" type="text" class="form-control" value="<%= @travel.name %>" name="travel[name]" placeholder="Viagem de formatura!" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Qual o destino?</label>
        <div class="col-sm-10">
          <input id="travel_destination" type="text" class="form-control" value="<%= @travel.destination %>" name="travel[destination]" placeholder="Orlando" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Data de início</label>
        <div class="col-sm-10">
          <input id="travel_init_date" type="date" class="form-control" value="<%= @travel.init_date.strftime('%Y-%m-%d') %>" name="travel[init_date]" readonly required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Data de termino</label>
        <div class="col-sm-10">
          <input id="travel_final_date" type="date" class="form-control" value="<%= @travel.final_date.strftime('%Y-%m-%d') %>" name="travel[final_date]" readonly required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descrição</label>
        <div class="col-sm-10">
          <input id="travel_description" type="text" class="form-control" value="<%= @travel.description %>" name="travel[description]" placeholder="Passando por Orlando e Nova York">
        </div>
      </div>
      <input type="submit" value="Salvar" class="btn btn-primary">
    </form>
  </div>
</body>
<%# TODO: Enter to submit %>
<%# TODO: Dates should not be inconsistent %>
<%# TODO: When with errors, print in every input box a red border %>
<%# TODO: When editing, I can leave a blank value and it's work, but it should leave a blank error %>
