<h1>Listing travels</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @travels.each do |travel| %>
    <tr>
      <td><%= travel.name %></td>
      <td><%= travel.destination %></td>
      <td><%= travel.init_date %></td>
      <td><%= travel.final_date %></td>
      <td><%= travel.description %></td>
      <td><%= link_to 'Show', travel_path(travel) %></td>
    </tr>
  <% end %>
</table>