<div class="container-text">
  <table>
    <tr>
      <td><h1>Viagens</h1></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a class="button-primary align-content-right" href="/travels/new">Nova Viagem</a></td>
    </tr>

    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.name %></td>
        <td><%= travel.destination %></td>
        <td>
          <%= travel.init_date.strftime('%d/%m') %> - <%= travel.final_date.strftime('%d/%m') %>
        </td>
        <td><%= link_to 'Ver',
                travel_path(travel),
                  class: "button-primary" %></td>
        <td><%= link_to 'Editar',
                edit_travel_path(travel),
                  class: "button-primary" %></td>
        <td><%= link_to 'Deletar',
                 travel_path(travel),
                   method: :delete,
                   data: { confirm: 'Você tem certeza?' },
                   class: "button-primary" %></td>
      </tr>
    <% end %>
  </table>
</div>