<p>
  <strong>Nome:</strong>
  <%= @travel.name %>
</p>
 
<p>
  <strong>Destino:</strong>
  <%= @travel.destination %>
</p>
 
<p>
  <strong>Data de início:</strong>
  <%= @travel.init_date %>
</p>
 
<p>
  <strong>Data final</strong>
  <%= @travel.final_date %>
</p>
 
<p>
  <strong>Desrição</strong>
  <%= @travel.description %>
</p>