<p>
  <strong>Nome:</strong>
  <%= @travel.name %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @travel.destination %>
</p>

<p>
  <strong>Data de início:</strong>
  <%= @travel.init_date.strftime('%Y-%m-%d') %>
</p>
 
<p>
  <strong>Data final</strong>
  <%= @travel.final_date.strftime('%Y-%m-%d') %>
</p>

<p>
  <strong>Descrição</strong>
  <%= @travel.description %>
</p>

<h2>Dias</h2>
<td><%= link_to 'Create', new_travel_day_path(@travel.id) %></td>
<table>
  <% @travel.days.each do |day| %>
  <% byebug %>
    <tr>
      <td><%= day.date %></td>
    </tr>
  <% end %>
</table>
