<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1><%= @travel.name %></h1>
      <p><%= @travel.destination %></p>
      <p>
        <%= @travel.init_date.strftime('%d/%m') %>
        - 
        <%= @travel.final_date.strftime('%d/%m') %>
      </p>
      <p><%= @travel.description %></p>
      <h2>Dias</h2>

      <div class="button-row">
        <form action="<%= add_travel_day_path(@travel.id) %>" accept-charset="UTF-8" method="post">
          <input name="travel_id" value="<%= @travel.id %>" style="display: none;">
          <input name="add_on_first_day" value="true" style="display: none;">
          <input type="submit" value="Criar dia no início" class="btn btn-primary"></a>
        </form>
        <form action="<%= add_travel_day_path(@travel.id) %>" accept-charset="UTF-8" method="post">
          <input name="travel_id" value="<%= @travel.id %>" style="display: none;">
          <input name="add_on_last_day" value="true" style="display: none;">
          <input type="submit" value="Criar dia no final" class="btn btn-primary"></a>
        </form>
      </div>

      <% @travel.days.order(:date).each do |day| %>
        <div class="show-days">
          <a href="/travels/<%= @travel.id %>/days/<%= day.id %>"><%= day.date.strftime('%d/%m') %></a>
          <strong><%= day.events.count %></strong>
        </div>
      <% end %>
      <div class="button-row">
        <% if @travel.days.count > 1 %>
          <%= link_to 'Deletar primeiro dia', destroy_travel_day_path(@travel.id, where_to_destroy="destroy_init_date"),
                  method: :delete,
                  class: "btn btn-primary" %>
          <%= link_to 'Deletar último dia', destroy_travel_day_path(@travel.id, where_to_destroy="destroy_final_date"),
                  method: :delete,
                  class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
