<p>
  <strong>Nome:</strong>
  <%= @travel.name %>
</p>
 
<p>
  <strong>Destino:</strong>
  <%= @travel.destination %>
</p>
 
<p>
  <strong>Data de início:</strong>
  <%= @travel.init_date.try(strftime("%d %m %Y")) %>
</p>
 
<p>
  <strong>Data final</strong>
  <%= @travel.final_date.try(strftime("%d %m %Y")) %>
</p>
 
<p>
  <strong>Descrição</strong>
  <%= @travel.description %>
</p>