<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="title"><%= @travel.name %></div>

      <p><strong>Destino: </strong><%= @travel.destination %></p>
      <p>
        <%= @travel.init_date.strftime('%d/%m') %>
        - 
        <%= @travel.final_date.strftime('%d/%m') %>
      </p>
      <p><%= @travel.description %></p>
      <div class="button-row">
        <%= link_to 'Criar dia no início',
          add_travel_day_path(@travel.id, where_to_add="add_on_first_day"),
            class: "btn btn-primary" %>
        <%= link_to 'Criar dia no final',
          add_travel_day_path(@travel.id, where_to_add="add_on_last_day"),
            class: "btn btn-primary" %>
      </div>
      <div class="calendar">
        <% @travel.days.order(:date).each do |day| %>
          <div class="days-card">
            <a class="color-blue-primary font-weight-bold" href="/travels/<%= @travel.id %>/days/<%= day.id %>">
              <%= day.date.strftime('%d/%m') %>
              <span class="badge-pill badge-danger"><%= day.events.count %></span>
            </a>
            <% if day.events %>
              <% day.events.order(:starting_time).each do |event| %>
                <a class="events-card" href="/travels/<%= @travel.id %>/days/<%= day.id %>/events/<%= event.id %>/edit">
                  <div class="time-event-item"><%= event.starting_time %></div>
                  <div class="name-event-item"><%= event.name %></div>
                </a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="button-row">
        <% if @travel.days.count > 1 %>
          <%= link_to 'Deletar primeiro dia', destroy_travel_day_path(@travel.id, where_to_destroy="destroy_init_date"),
                      method: :delete,
                      class: "btn btn-primary" %>
          <%= link_to 'Deletar último dia', destroy_travel_day_path(@travel.id, where_to_destroy="destroy_final_date"),
                      method: :delete,
                      class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
