<div class="container">
<p>
  <strong>Categoria:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @event.address %>
</p>
 
<p>
  <strong>Horário inicial:</strong>
  <%= @event.starting_time %>
</p>

<p>
  <strong>Horário de término:</strong>
  <%= @event.ending_time %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @event.pricing %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>
</div>