<div class="container">

  <div class="title">
    <strong><%= @day.date.strftime('%A') %>, <%= @day.date.strftime('%d') %> de <%= @day.date.strftime('%B') %></strong>
  </div>

  <%= link_to 'Criar evento',
        new_travel_day_event_path(@day.travel.id, @day.id),
          class: "button-primary" %>

  <% @day.events.order(:starting_time).each do |event| %>
    <div class="card-container-text>
      <div class="align-center"><strong><%= event.name %></strong></div>
      <%= event.starting_time %> - <%= event.ending_time %>

      <p><strong>Categoria:</strong>
      <%= event.category %></p>

      <p><strong>Endereço:</strong>
      <%= event.address %></p>

      <p><strong>Preço:</strong>
      <%= event.pricing %></p>

      <p><strong>Descrição:</strong>
      <%= event.description %></p>
      <%= link_to 'Deletar',
          travel_day_event_path(@day.travel.id, @day.id, event.id),
            method: :delete,
            data: { confirm: 'Você tem certeza?' },
            class: "button-primary" %>
      <%= link_to 'Editar',
          edit_travel_day_event_path(@day.travel.id, @day.id, event.id),
            class: "button-primary" %>
    </div>
  <% end %>
</div>