<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>



<%= link_to 'Criar evento',
        new_travel_day_event_path(@travel.id, day.id),
        class: "button-primary" %></td>
<% day.events.order(:starting_time).each do |event| %>
  <td>
    <p><strong>Categoria:</strong>
    <%= event.category %></p>

    </p><strong>Nome:</strong>
    <%= event.name %></p>

    <p><strong>Endereço:</strong>
    <%= event.address %></p>

    <p><strong>Horário inicial:</strong>
    <%= event.starting_time %></p>

    <p><strong>Horário de término:</strong>
    <%= event.ending_time %></p>

    <p><strong>Preço:</strong>
    <%= event.pricing %></p>

    <p><strong>Descrição:</strong>
    <%= event.description %></p>
    <%= link_to 'Deletar',
        travel_day_event_path(@travel.id, day.id, event.id),
          method: :delete,
          data: { confirm: 'Você tem certeza?' },
          class: "button-primary" %>
    <%= link_to 'Editar',
        edit_travel_day_event_path(@travel.id, day.id, event.id),
          class: "button-primary" %>
  </td>